aiooui==0.1.9
async_interrupt==1.2.2
bleak==1.1.1
bleak-retry-connector==4.4.3
bluetooth-adapters==2.1.1
bluetooth-auto-recovery==1.5.3
bluetooth-data-tools==1.28.2
bluetooth-sensor-state-data==1.9.0
bthome-ble==3.14.2
btsocket==0.3.0
certifi==2025.8.3
cffi==2.0.0
colorzero==2.0
crcmod==1.7
cryptography==46.0.1
dbus-fast==2.44.3
gpiozero==2.0.1
habluetooth==5.6.4
lgpio==0.2.2.0
pillow==11.3.0
pycparser==2.23
PyRIC==0.1.6.3
pyserial==3.5
rpi-lgpio==0.6
RPi.GPIO==0.7.1
sensor-state-data==2.19.0
tk==0.1.0
typing_extensions==4.15.0
uart-devices==0.1.1
usb-devices==0.4.5
